.button-right {
	color: #fff;
	background: rgb(66, 184, 221); /* this is a light blue */
	font-size: 93%;
}

.button-left {
	color: #fff;
	background: rgb(66, 184, 221); /* this is a light blue */
	font-size: 93%;
}